#description {
    height: 56px;
    width: 379px;
    margin-left: 8px;
    margin-right: 6px;
}

#description-text {
    color: #000;
font-feature-settings: 'clig' off, 'liga' off;
font-family: Inconsolata;
font-size: 13px;
font-style: normal;
font-weight: 400;
line-height: normal;
letter-spacing: -0.165px;
}