#IceCreamDisplay {
    width: 393px;
    height: 259px;
    overflow: hidden; /* Hide images outside of the display area */
    position: relative;
  }
  
  .ice-cream-image {
    width: 100%;
    height: 100%;
    object-fit: cover; /* Cover the display area */
    transition: transform 1s ease-in-out; /* Smooth transition between images */
  }
  